@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/open-sans-light.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(fonts/open-sans-regular.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/open-sans-bold.woff) format('woff');
}

body {
	max-width: 30em;
	padding: 1em 0;
	margin: auto;
	text-align: center;
	font: 150%/1.5 'Open Sans', 'Myriad Pro', 'Helvetica Neue', sans-serif;
	color: #333;
	background-color: #fff;
}

a {
	color: slategray;
}

header h1 {
	margin-top: 0;
	font-size: 300%;
	font-weight: 300;
	color: red;
}

	header h1 img {
		width: 100px;
		height: 93px;
		margin-right: -25px;
		vertical-align: 10px;
	}

	header h1 strong {
		color: black;
		font-weight: bold;
		letter-spacing: -.05em;
	}

section h1 {
	font-size: 200%;
	font-weight: 300;
}

	section article h1 {
		font-size: 120%;
		font-weight: bold;
	}

input,select {
	font: inherit;
	color: inherit;
}

input {
	padding: .1em .2em 0;
	border: 1px solid #ddd;
	margin: 0;
	outline: none;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	transition: .2s box-shadow, .2s border;
}

	input:focus {
		border-color: silver;
		box-shadow: 1px 1px .1em silver inset;
	}

input#width {
	width: 4em;
}

input#height {
	width: 3em;
}

input#physical {
	width: 4em;
}

input#search {
	appearance: none;
	display: block;
	width: 100%;
	padding: .1em 0 0 1.3em;
	box-sizing: border-box;
	font: inherit;
	background: url(img/search.svg) no-repeat .3em 50% / 1em auto;
}

select {
	appearance: none;
	background: transparent;
	border: 0;
}

.icon-device {
	position: relative;
	display: inline-block;
	border: 3px solid #555;
	margin-top: 3em;
	-webkit-transition: .3s all;
	-moz-transition: .3s all;
	transition: .3s all;
}

	.icon-device::before,
	.icon-device::after {
		position: absolute;
		content: '';
	}

	.icon-device::before {
		top: 4px;
		width: 15px;
		height: 3px;
		margin-left: -7.5px;
		background: #555;
		border-radius: 15px;
	}

	.icon-device::after {
		bottom: 4px;
		width: 10px;
		height: 10px;
		margin-left: -5px;
		background: #555;
		border-radius: 10px;
		-webkit-transition: .3s all;
		-moz-transition: .3s all;
		transition: .3s all;
	}

	.icon-device .dpi {
		position: absolute;
		width: 100%;
		margin-left: -50%;
		height: 37px;
		color: #555;
		box-sizing: border-box;
		padding: 5px;
		font-size: 1.5em;
		letter-spacing: 0em;
		top: calc(50% - 1em);
	}

	.icon-device[data-device="phone"] {
		width: 120px;
		height: 240px;
	}

	.icon-device[data-device="phone"] .dpi {
		font-size: 1em;
	}

	.icon-device[data-device="tablet"] {
		width: 200px;
		height: 150px;
	}

	.icon-device[data-device="desktop"],
	.icon-device[data-device="laptop"] {
		width: 220px;
		height: 150px;
	}

		.icon-device[data-device="desktop"]::before,
		.icon-device[data-device="laptop"]::before {
			width: 4px;
			height: 4px;
			margin-left: -2px;
		}

		.icon-device[data-device="desktop"]::after ,
		.icon-device[data-device="laptop"]::after {
			top: 100%;
			background-color: #FFF;
			border-radius: 0;
			height: 0;
			margin-top: 3px;
		}

		.icon-device[data-device="desktop"]::after {
			border-bottom: 20px solid #555;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			width: 36px;
			margin-left: -28px;
		}

		.icon-device[data-device="laptop"]::after {
			border-bottom: 30px solid #555;
			border-left: 50px solid rgba(0, 0, 0, 0);
			border-right: 50px solid rgba(0, 0, 0, 0);
			width: calc(100% + 6px);
			margin-left: calc(-50% - 53px);
		}

fieldset {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	padding: 0;
	border: none;
	margin: 0;
	font-weight: 300;
}

fieldset:first-of-type {
	text-align: right;
	padding-right: 3%;
	border-right: 1px solid #eee;
}

fieldset + fieldset {
	text-align: left;
	padding-left: 3%;
	margin-left: -.25em;
}
	
	fieldset p {
		font-size: 50%;
		opacity: 1;
		transition: .3s opacity;
		font-weight: normal;
	}

#screens {
	max-height: 19.8em;
	overflow: auto;
	border-width: 0 1px 1px;
	border-style: solid;
	border-color: #ddd;
	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(50% 0, farthest-side, rgba(0,0,0,.1), rgba(0,0,0,0)),
		radial-gradient(50% 100%, farthest-side, rgba(0,0,0,.1), rgba(0,0,0,0)) 0 100%;
	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.1), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.1), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 10px, 100% 10px;
	background-attachment: local, local, scroll, scroll;
}

	table {
		width: 100%;
		font-size: 80%;
		border-spacing: 0;
	}
	
		table th:first-child {
			text-align: right;
		}
		
		table tbody th {
			font-size: 80%;
		}
		
		td,
		th {
			padding: .3em;
		}
		
		th:nth-child(4),
		td:nth-child(4) {
			background: #45A5E3;
			color: white;
		}
		
		th {
			font-weight: normal;
		}
		
		td:only-child {
			font-weight: 300;
			color: gray;
			text-align: center;
		}
		
#faq article {
	font-size: 80%;
}

	#faq article p,
	#faq article li {
		text-align: justify;
		hyphens: auto;
	}

body > footer {
	padding-top: 1em;
	border-top: 1px solid #eee;
	margin-top: 2em;
}

footer {
	font-size: 60%;
}

.twitter-share-button {
	position: absolute;
	top: 20px;
	right: 0;
}

#fork {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
}

#plusOne {
	position: absolute;
	top: 50px;
	right: 0;
}